Repository rancher/terraform-provider-rancher2, pull requests merged in 2024-11, with the labels that each got.

#1441 default dynamic to false (#1427)
  rancher2/schema_cluster_v2_rke_config_files.go
Labels: version/v5, version/rancher-v2.9, kind/backport

#1439 Add OutBound Type to aks_config_v2
  docs/resources/cluster.md
  rancher2/schema_cluster_aks_config_v2.go
  rancher2/structure_cluster_aks_config_v2.go
  rancher2/structure_cluster_aks_config_v2_test.go
Labels: version/v6, version/rancher-v2.10, version/v5, version/rancher-v2.9

#1444 Add OutBound Type to aks_config_v2 (#1439)
  docs/resources/cluster.md
  rancher2/schema_cluster_aks_config_v2.go
  rancher2/structure_cluster_aks_config_v2.go
  rancher2/structure_cluster_aks_config_v2_test.go
Labels: version/v5, version/rancher-v2.9
