Repository rancher/terraform-provider-rancher2, pull requests merged in 2025-07, with the labels that each got.

#1563 fix: specify signing key
  .github/workflows/release.yaml
Labels: kind/internal, kind/bug

#1573 fix: sanitize secrets
  .github/workflows/release.yaml
Labels: kind/internal, version/v6

#1570 [main] fix: remove unused RKE version retrieval logic
  rancher2/config.go
Labels: version/rancher-v2.12, version/v8

#1584 Release 1550 v8
  rancher2/resource_rancher2_cluster.go
Labels: version/rancher-v2.12, version/v8

#1586 fix: update label field to match latest version
  docs/resources/machine_config_v2.md
  rancher2/schema_machine_config_v2_googlegce.go
  rancher2/structure_machine_config_v2_googlegce.go
Labels: version/rancher-v2.12, version/v8

#1567 Add recently added options to OCI config
  docs/resources/cluster.md
  rancher2/schema_cluster_oke_config.go
  rancher2/structure_cluster_oke_config.go
  rancher2/structure_cluster_oke_config_test.go
Labels: version/rancher-v2.11, version/v7, version/rancher-v2.12, version/v8

#1590 fix: add recently added options to Oracle config
  docs/resources/cluster.md
  rancher2/schema_cluster_oke_config.go
  rancher2/structure_cluster_oke_config.go
  rancher2/structure_cluster_oke_config_test.go
Labels: version/rancher-v2.12, version/v8

#1591 fix: add recently added options to Oracle config
  docs/resources/cluster.md
  rancher2/schema_cluster_oke_config.go
  rancher2/structure_cluster_oke_config.go
  rancher2/structure_cluster_oke_config_test.go
Labels: version/rancher-v2.11, version/v7

#1599 fix: registry configuration for imported hosted clusters (#1596)
  docs/resources/cluster.md
  rancher2/data_source_rancher2_cluster.go
  rancher2/resource_rancher2_cluster.go
  rancher2/schema_cluster.go
Labels: version/rancher-v2.12, version/v8

#1600 fix: registry configuration for clusters (#1596)
  docs/resources/cluster.md
  rancher2/data_source_rancher2_cluster.go
  rancher2/resource_rancher2_cluster.go
  rancher2/schema_cluster.go
Labels: version/rancher-v2.11, version/v7

#1604 fix: change log from info to error
  rancher2/import_rancher2_namespace.go
Labels: version/rancher-v2.12, version/v8
