Repository rancher/terraform-provider-rancher2, pull requests merged in 2025-06, with the labels that each got.

#1521 fix: [BACKPORT] [v7] Adding the UUID to the Global Role datasource (#1491)
  docs/data-sources/global_role.md
  rancher2/data_source_rancher2_global_role.go
  rancher2/schema_global_role.go
  rancher2/structure_global_role.go
Labels: kind/backport, version/rancher-v2.11, version/v7

#1517 feat: Implement support for GCE machine configs
  docs/resources/machine_config_v2.md
  rancher2/resource_rancher2_machine_config_v2.go
  rancher2/schema_machine_config_v2.go
  rancher2/schema_machine_config_v2_googlegce.go
  rancher2/structure_machine_config_v2.go
  rancher2/structure_machine_config_v2_googlegce.go
Labels: area/provisioning, version/rancher-v2.12, version/v8

#1554 Add Doc for rancher2_pod_security_admission_configuration_template
  docs/data-sources/rancher2_pod_security_admission_configuration_template.md
  docs/resources/rancher2_pod_security_admission_configuration_template.md
Labels: area/documentation, version/rancher-v2.11, version/v7, version/rancher-v2.12, version/v8

#1558 fix: Backport 1554 v7
  docs/data-sources/rancher2_pod_security_admission_configuration_template.md
  docs/resources/rancher2_pod_security_admission_configuration_template.md
Labels: kind/backport, version/rancher-v2.11, version/v7
