Repository rancher/terraform-provider-rancher2, pull requests merged in 2025-02, with the labels that each got.

#1467 fix: remove handling of auto-install objects
  rancher2/resource_rancher2_app_v2.go
Labels: version/v6, version/v7, area/apps

#1472 fix: remove handling of auto-install objects (#1467)
  rancher2/resource_rancher2_app_v2.go
Labels: version/v6, version/rancher-v2.10

#1469 Add service account for node pool in GKE cluster
  docs/resources/cluster.md
  rancher2/schema_cluster_gke_config_v2.go
  rancher2/structure_cluster_gke_config_v2.go
  rancher2/structure_cluster_gke_config_v2_test.go
Labels: version/v6, version/rancher-v2.10, area/provisioning, version/rancher-v2.11, version/v7, JIRA

#1477 Add service account for node pool in GKE cluster (#1469)
  docs/resources/cluster.md
  rancher2/schema_cluster_gke_config_v2.go
  rancher2/structure_cluster_gke_config_v2.go
  rancher2/structure_cluster_gke_config_v2_test.go
Labels: version/v6, version/rancher-v2.10
